#user-messages {
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    #messages {
        height: 80%;
        width: 50%;
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        border: 2px solid lightgrey;
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        overflow-y: scroll;

        p {
            padding: 4px 16px;
            border-radius: 16px;
            border: 2px solid grey;
            max-width: 80%;
            overflow-wrap: break-word;

            &.sent {
                align-self: flex-end;
                flex-shrink: 1;
                background-color: lightcyan;
            }
            &.received {
                align-self: flex-start;
                background-color: color-mix(in srgb, lightgrey 100%, white 50%);
            }
        }
    }

    form {
        display: flex;
        align-items: center;
        gap: 8px;
        input {
            background-color: white;
            border: 2px solid grey;
            padding: 4px;
            border-radius: 8px;

            &.error {
                border: 2px solid red;
            }
        }
        button {
            background-color: lightgrey;
            padding: 4px 16px;
            border-radius: 8px;
            border: 1px solid black;

            &:hover {
                background-color: color-mix(in srgb, lightgrey 100%, white 25%);
            }
            &:active {
                background-color: color-mix(in srgb, lightgrey 100%, white 50%);
            }
        }
    }
}